<h1>Nasa article</h1>

<p *ngIf="isLoading">
  Loading...
</p>

<div class="alert" *ngIf="errMsg">
  {{ errMsg }}
</div>

<div class="article" *ngIf="article">
  <div class="card">
    <div class="card-image-container">
      <img [src]="article.url" alt="Article image" style="width:100%">
      <div class="card-image-title-flag">
        <div class="card-image-title-flag-text">
          <p>{{ article.title }} <br> {{ article.date | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="container">
      <h4><b>Explanation</b></h4>
      <p>{{ article.explanation }}</p>
    </div>
  </div>

  <div class="card">
    <div class="container">
      <h4>About the article</h4>
      <table class="article-info">
        <tr>
          <td>Date:</td>
          <td class="nasa-info-value">
            {{ article.date | date: 'dd/MM/yyyy' }}
            <i class="fa fa-calendar nasa-info-icon"></i>
          </td>
        </tr>
        <tr>
          <td>Media type:</td>
          <td class="nasa-info-value">
            {{ article.media_type }}
            <i class="fa fa-image nasa-info-icon"></i>
          </td>
        </tr>
        <tr>
          <td>Font:</td>
          <td class="nasa-info-value">
            {{ environmentData.nasaApiUrl }}
            <i class="fa fa-space-shuttle nasa-info-icon"></i>
          </td>
        </tr>
      </table>
      <img src="./assets/img/nasa-logo.svg" alt="Nasa logo" class="nasa-logo">
      
    </div>
  </div>
</div>